body
{
	font-size: 12pt;
	font-family: Arial, sans-serif;
}

h1 { font-size: 50pt; }
h2 { font-size: 40pt; }
h3 { font-size: 30pt; }
h4 { font-size: 20pt; }
h5 { font-size: 16pt; }
h6 { font-size: 14pt; }

.red    {            color:rgb(200,0,40); } /* hsl(348,100,78) */
.bk-red { background-color:rgb(200,0,40) !important;}

pre,
.mono { font-family: monospace; }


section
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/*
	the four main panels
*/

#main
{
	width:30%;
	height:100%;
	position: fixed;
	left:0px;
	border-right:1px solid rgb(215,215,215);
	z-index:1;
	padding:0px 20px;
}

#entry
{
	width:60%;
	height:100%;
	position: fixed;
	left:30%;
	background-color: rgb(245,245,245);
	padding:20px;
}

#scroll
{
	width:10%;
	height:100%;
	position: fixed;
	right:0px;
	background-color: white;
	border-left:1px solid rgb(215,215,215);
	z-index:1;
}

#code
{
	width:60%;
	overflow: hidden;
	position: relative;
	left:30%;
	display: none;
}

/*
	the main bar
*/

header
{
	text-align: center;
	padding-top:20px;
}
header * { display: inline; }

footer
{ 
	position: absolute;
	width:100%;
	bottom:0px;
	text-align: center;
	font-size: 10pt;
	color:rgb(150,150,150);
}


button
{
	color:white;
	background-color: rgb(200,0,40);
	border:none;
	border-radius: 2px;
	padding:2px 10px 2px 10px;
	cursor: pointer;
}

button:hover { background-color: rgb(220,40,40); }
button:active { padding:3px 9px 1px 11px; }

#tools { display:none; }

/* align the command bar */
#run
{
	overflow:hidden;
	padding:100px 0px;
}
#run button { float:right; }
#run input { width:100%; }
#run span
{
	display:block;
	overflow:hidden;
	padding-right:10px;
}


/*
	the entry bar
*/

#entry textarea
{
	display: block;
	width:100%;
	padding:0px;
	margin:20px 0px;
	resize:none;
}

#entry button
{
	float:right;
}

#entry #error
{
	display:none;
}



/*
	the code display
*/

pre
{
	font-size: 8pt;
	width:100%;
	height: 1.1em; /* empty lines still consume height */
	line-height: 1.1em;
	background-color: white;

	-webkit-transition:background-color 0.1s;
	transition:background-color 0.1s;
}

pre > span
{
	display: inline-block;
	height: inherit;
	line-height: inherit;
	width:2.5em;
	padding-right:5px;
	margin-right: 5px;
	text-align: right;
	font-family: sans-serif;
	color:rgb(128,128,128);
	background-color: rgb(230,230,230);
}

